.components {
  position: absolute;
  height: 70vh;
  width: 80vw;
  text-align: center;
  top: 15vh;
  left: 10vw;
  box-sizing: border-box;
}
.components h2 {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
  color: black;
  border-radius: 1rem 1rem 0 0;
  user-select: none;
}
